/*
 * Json 
 */

.jsoncontainer {
	text-align: left;
	height: 200px;
	background: white;
	overflow: auto;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.listBackground {
	background-color : #333;
}

/*
 * iFrame 
 */

.frame{
	width: 100%;
	height: 600px;
	}
	
.small{
	text-align: left;
	}

/*
* Navbar
*/
.navbar.navbar-black {
  background-color: #333333;
  color: #ffffff;
}

.tooltip400px{
	width: 400px
}